<div class="container">
    <h1> Educational Details of {{employee.name}}</h1>
    <div class="row">
        <div class="col-md-6 info">
            <div><strong>Name:</strong>  {{employee.name}}</div>
            
            <div><strong>Degree:</strong>  {{employee.degree}}</div>
            <div><strong>Marks:</strong>  {{employee.marks}}</div>
            <div><strong>Stream:</strong> {{employee.stream}}</div>
            <div><strong>college:</strong>  {{employee.college}}</div>
        </div>
        
    </div>
</div>